.formContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.email1{
    width: 18vw;
    height: 30px;
    font-size: small;
    border-radius: 5px;
}
.password1{
    width: 18vw;
    height: 30px;
    font-size: small;
    border-radius: 5px;
}

.submitBtn{
    width: 12vw;
    height: 32px;
    color: white;
    background-color: black;
    font-size: 15px;
}
.submitBtn:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.entries1{
    padding: 7px;
}

.errorMessage{
    color: red;
}

.loginheading1{
    font-size: 28px;
}